{
    "extends": "@istanbuljs/nyc-config-typescript",
    "all": true,
    "check-coverage": false,
    "exclude": [
        "src/www.ts",
        "test/*",
        "dist/*",
        "src/types",
        ".versionrc.js"
    ]
}
